doctype html
head
	title #{name}
	link(rel="icon", href="https://github.com/ottomated/CrewLink/raw/master/logo.png", type="image/x-icon")
	meta(property='og:title' content='#{name} CrewLink Server')
	meta(property='og:description' content='Voice server for Among Us proximity chat')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	style.
		html, body {
			height: 100%;
		}
		body {
			background: #23272a url('https://wallpapercave.com/wp/wp7864479.png') no-repeat fixed center;
			color: white;
			font-family: sans-serif;
			text-align: center;
			display: flex;
			flex-direction: column;
		}
		img {
			height: 128px;
			width: 128px;
			margin: 32px auto;
			display: block;
		}
		a {
			text-decoration: none;
			color: #3498db
		}
		a:hover {
			text-decoration: underline;
		}
		#wrapper {
			flex: 1 0 auto;
		}
		#details, #discord, #download {
			background-color: rgba(40, 40, 40, 0.7);
			border-radius: 10px;
			border-color: rgba(48,48,48, 0.8);
			border-width: 1px;
			width: 600px;
			display: block;
			margin: 20px auto;
			padding: 20px;
		}
		#footer {
			min-width: 100%;
			flex-shrink: 0;
			background-color: rgb(30,30,30);
			padding: 20px;
		}

#wrapper
	img(src="https://i.pinimg.com/originals/d9/c9/e4/d9c9e4be3c2968c4b0884fbd3372d4ee.png")
	#details
		h1 #{name}
		p This is a CrewLink Server running on #{address}.
		p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'}.

	if discord
		console.log(`Discord Name: ${discord.name} - ${discord.instant_invite}`)
		#discord
			p 	To find out more, join the 
				|
				br
				a(href=discord.instant_invite, target="_blank", rel="noopener noreferrer nofollow") #[b #{discord.name}] 
				| 
				br
				| Discord Server!

	#download
		p 	
			a(href="https://github.com/ottomated/CrewLink/releases/latest", target="_blank", rel="noopener noreferrer nofollow") Download CrewLink from GitHub!

#footer
	footer 	Copyright &copy; #{new Date().getFullYear()}. #{name} 
			| &vert; CrewLink &amp; CrewLink-Server created by 
			a(href="https://ottomated.net/", target="_blank", rel="noopener noreferrer nofollow") Ottomated 
			| &vert; Distributed under the GNU General Public License v3.0.
